<form class="post-form" action="/post" method="POST">

    <label for="title">
        Post title:
        <input type="text" id="title" name="title">
    </label>

    <label for="body">
        Post body:
        <textarea name="body" id="body" cols="30" rows="10"></textarea>
    </label>

    <input type="submit" value="Send">
</form>